{% extends "base.html" %}

{% block content %}
<h1>Your Patients</h1>

{% if object_list %}
<table class="table table-hover" id="exercises">
  <thead class="thead-dark">
    <tr id="table-header">
      <th scope="col">#</th>
      <th scope="col">Last modified</th>
      <th scope="col">Created on</th>
      <th scope="col">Patient ID</th>
      <th scope="col">Birthday</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for patient in object_list %}
    <tr class="table-default">
      <td scope="row">{{ forloop.counter0 | add:page_obj.start_index }}</td>
      <td>{{ patient.modified | date }}</td>
      <td>{{ patient.created | date }}</td>
      <td>{{ patient.identifier }}</td>
      <td>{{ patient.birthday | date }}</td>
      <td>
        <a class="btn btn-outline-primary" href="{% url 'register:update' pk=patient.pk %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'register:delete' pk=patient.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div align="center">
  <a class="btn btn-dark" align="right" href="{% url 'register:create' %}">Create new entry</a>
</div>

{% else %}
No registered patients. <a href="{% url "register:create" %}">Create a new entry</a>!
{% endif %}
{% endblock %}
